.input-box {
    display:flex;
    justify-content: center;
    margin-top: 5.3rem;
}
.input-box input{
    width:50vw;
    padding:9px;
   border:none;
   outline: none;
   border-bottom: 1px solid black;
   
   font-size: 1.1rem;
   
   
}

button{
    background-color: red;
    
    border: none;
    
    border-radius: 8px;
    width:80px;
    margin-left: 18px;
}